<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/booksPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    
    <%- include('partials/header.ejs')%>

    <div class="wrap">
        <div class="search">
           <input type="text" class="searchTerm" placeholder="What are you looking for?">
           <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
    <div class="container">
        
         <div class="row-1">
            <div class="sub-1">
                <div class="title-row-1">Genres</div>
                <ul class="genres">
                    <li>Romance</li>
                    <li>Comedy</li>
                    <li>Fantasy</li>
                    <li>School Life</li>
                    <li>Action</li>
                    <li>Isekai</li>
                    <li>Science fiction</li>
                    <li>Slice of life</li>
                    <li>Dark fantasy</li>
                    <li style="border: none;">Adventure</li>
                </ul>
            </div>

            <div class="sub-1">
                <div class="title-row-1">Price</div>
                <ul class="prices">
                    <li>5 - 25 $</li>
                    <li>25 - 40 $</li>
                    <li>40 - 55 $</li>
                    <li>55 - 70 $</li>
                    <li>70 - 85 $</li>
                    <li style="border: none;">85 - 100 $</li>
                </ul>
            </div>
         </div>
         

         <div class="row-3">
            <div class="title-row-3">Books <span class="search-result"></span></div>
            <div class="books">
                <% for (let i =0; i <books.length;  i++ ) { %>
                    <div class="book">
                        <div class="img"><img src="<%= books[i].image%>" alt="" ></div>
                        <div class="title-book"><%=books[i].title%></div>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="price-book"><%=books[i].price%> $</div>
                        <div class="hidden-action action-hover ">
                            <i class="fa-solid fa-cart-shopping action-add-to-cart"></i>
                            <i class="fa-solid fa-eye"></i>
                        </div>
                        <form action="/books/detail/<%=books[i]._id%>" class="get-detail" method="GET"></form>
                        <input type="text" hidden value="{
                            &quot;_id&quot;     : &quot;<%=books[i]._id%>&quot;,
                            &quot;title&quot;   : &quot;<%=books[i].title%>&quot;,
                            &quot;image&quot;   : &quot;<%=books[i].image%>&quot;,
                            &quot;price&quot;   : &quot;<%=books[i].price%>&quot;}">
                    </div>
                <% } %>
            </div>
         </div>
    </div>

    <%- include('partials/footer.ejs')%>
</body>
<script src="https://kit.fontawesome.com/9bcb66184c.js" crossorigin="anonymous"></script>
<script type="module" src="/scripts/booksPage.js"></script>
</html>