<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homePage.css">
    <link rel="stylesheet" href="/styles/cartPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Book Store</title>
</head>
<body>
    <%- include('partials/header.ejs')%>

        <div class="container shopping-cart">
            <h1>Shopping Cart</h1>
            <br><hr>
            <%if(books.length) {%>
                <table>
                    <tr>
                     <th></th>
                      <th>Name product</th>
                      <th>Quantities</th>
                      <th>Price</th>
                      <th></th>
                    </tr>
                    <% for (let i =0; i <books.length;  i++ ) { %>
                    <tr class="data-table">
                        <td class="td-1"><img src="<%= books[i].image%>" width="55px" alt=""></td>
                        <td class="td-2"><%= books[i].title%></td>
                        <td class="td-3"><input type="number" class="count-order" value="<%=amounts[i]%>" min="1"></td>
                        <td class="td-4"><%= books[i].price%> $</td>
                        <td class="td-5"><a class="remove-product" href="#">
                            <i class="fa-solid fa-trash"></i></a>
                        </td>
                        <td><input class="info-book" type="text" hidden value="{
                            &quot;_id&quot;     : &quot;<%=books[i]._id%>&quot;,
                            &quot;title&quot;   : &quot;<%=books[i].title%>&quot;,
                            &quot;image&quot;   : &quot;<%=books[i].image%>&quot;,
                            &quot;price&quot;   : &quot;<%=books[i].price%>&quot;}"></td>
                    </tr>
                    <% } %> 
                    <tr style="border: none;font-size:20px;font-weight:700">
                        <td></td>
                        <td></td>
                        <td>Total: </td>
                        <td class="total-price"></td>
                        <td></td>
                    </tr >
                  </table>          
                  <div class="footer-cart">
                    <div class="row-1">
                        <p>Note: </p><br>
                        <textarea name="" id="" cols="50" rows="4"></textarea>
                        <p><a class="continue-shopping" href="/">
                            <i class="fa-solid fa-arrow-left"></i>Continue shopping</a></p>
                    </div>
                    <div class="row-2">
                        
                        <button>Continue to checkout</button>
                    </div>
                  </div>
            <%} else {%> 
                <div class="footer-cart">
                    <div class="row-1">
                        <p class="cart-empty">Your cart is empty</p>
                        <hr width="222%">
                        <p><a class="continue-shopping" href="/">
                            <i class="fa-solid fa-arrow-left"></i> Continue shopping</a></p>
                    </div>
                </div>
            <%}%>
        </div>

        <div class="modal-login-required hidden-action">
            <div class="modal-login-required-content">
                <div class="register-request">It looks like you have a few things in your cart.  Would you like to create an account to save them for later?</div>
                <button class="register-redirect"><a href="/register">Create an account</a></button>
                <button class="cancel-modal">Cancel</button>
            </div>
        </div>

        <div class="modal-info-checkout hidden-action">
            <div class="modal-content">
                <div class="info">Checkout Successfully <br><span></span></div>
                <button class="back-to-home"><a href="/">Back to Home</a></button>
            </div>
        </div>
        <div class="footer">
                
        </div>
</body>
<script src="https://kit.fontawesome.com/9bcb66184c.js" crossorigin="anonymous"></script>
<script type="module" src="/scripts/cartPage.js"></script>
</html>