<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/detailPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Book Store</title>
</head>
<body>
    
    <%- include('partials/header.ejs')%>

    <div class="container detail-book">
        <div class="link-arrow">
            <a href="/">Home</a>
            /
            <a href="/books">Books</a>
            /
            <a href=""><%= book.title%></a>
        </div>
        <br><br><br>
        <div class="detail">
            <div class="img-detail">
                <img src="<%= book.image%>" alt="">
            </div>
            <div class="description-detail">
                <div class="title-detail"><%= book.title%></div>
                <br>
                <div class="SKU-detail">SKU: <%= book._id%></div>
                <br>
                <div class="Prices-detail">Price: <%=book.price%> $</div>
                <br>
                <div class="author-detail">Author: <%= book.author%></div>
                <br>
                <div class="genres-detail">Genres: 
                    <% for (let i =0; i <book.genres.length;  i++ ) { %>
                        <a href="#"><%= book.genres[i]%></a>,
                    <%}%>
                </div>
                <br>
                <div class="overview-detail">Overview: <br> <br>
                    <%= book.description%></div>
            </div>            
        </div>
        
        <div class="count-and-add">
            <div class="count">
                <div class="decrease-count">-</div>
                <div class="number-count">1</div>
                <div class="increase-count">+</div>
            </div>
            <br>
            <br>
            <br>
            <div class="add-to-cart">
                <button>ADD TO CART</button>
                <input type="text" hidden value="{
                    &quot;_id&quot;     : &quot;<%=book._id%>&quot;,
                    &quot;title&quot;   : &quot;<%=book.title%>&quot;,
                    &quot;image&quot;   : &quot;<%=book.image%>&quot;,
                    &quot;price&quot;   : &quot;<%=book.price%>&quot;}">
            </div>
        </div>
        <br><br><br>
        <hr>
        <br><br>
        <div class="relate-book">
            <h1>Relations</h1>
            <div class="books">
                <% for (let i =0; i <relationBook.length;  i++ ) { %>
                    <div class="book">
                        <div class="test"></div>
                        <div class="img"><img src="<%= relationBook[i].image%>" alt="" ></div>
                        <div class="title-book"><%=relationBook[i].title%></div>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="price-book"><%=relationBook[i].price%> $</div>
                        <div class="hidden-action action-hover ">
                            <i class="fa-solid fa-cart-shopping action-add-to-cart"></i>
                            <i class="fa-solid fa-eye"></i>
                        </div>
                        <form action="/books/detail/<%=relationBook[i]._id%>" class="get-detail" method="GET"></form>
                        <input type="text" hidden value="{
                            &quot;_id&quot;     : &quot;<%=relationBook[i]._id%>&quot;,
                            &quot;title&quot;   : &quot;<%=relationBook[i].title%>&quot;,
                            &quot;image&quot;   : &quot;<%=relationBook[i].image%>&quot;,
                            &quot;price&quot;   : &quot;<%=relationBook[i].price%>&quot;}">
                    </div>
                <% } %>
            </div>
            <a href="/books" class="view-more">View more</a>
            <br>
            <hr>
        </div>
    </div>


    <%- include('partials/footer.ejs')%>
</body>
<script src="https://kit.fontawesome.com/9bcb66184c.js" crossorigin="anonymous"></script>
<script type="module" src="/scripts/detailPage.js"></script>
</html>