<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Book Store</title>
</head>
<body>
        <%- include('partials/header.ejs')%>
        
        <div class="container">
            <div class="new-release">
                <h1>New release</h1>
                <div class="books">
                    <% for (let i =0; i <newRelease.length;  i++ ) { %>
                        <div class="book">
                            <div class="test"></div>
                            <div class="img"><img src="<%= newRelease[i].image%>" alt="" ></div>
                            <span class="title-book"><%=newRelease[i].title%></span>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="price-book"><%=newRelease[i].price%>$</div>
                            <div class="hidden-action action-hover ">
                                <i class="fa-solid fa-cart-shopping action-add-to-cart"></i>
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <form action="/books/detail/<%=newRelease[i]._id%>" class="get-detail" method="GET"></form>
                            <input type="text" hidden value="{
                                &quot;_id&quot;     : &quot;<%=newRelease[i]._id%>&quot;,
                                &quot;title&quot;   : &quot;<%=newRelease[i].title%>&quot;,
                                &quot;image&quot;   : &quot;<%=newRelease[i].image%>&quot;,
                                &quot;price&quot;   : &quot;<%=books[i].price%>&quot;}">
                        </div>                        
                    <% } %>
                </div>
                <a href="/books" class="view-more">View more</a>
                <br>
                <hr>
            </div>
            <div class="best-seller">
                <h1>Best seller</h1>
                <div class="books">
                    <% for (let i =0; i <bestSeller.length;  i++ ) { %>
                        <div class="book">
                            <div class="test"></div>
                            <div class="img"><img src="<%= bestSeller[i].image%>" alt="" ></div>
                            <div class="title-book"><%=bestSeller[i].title%></div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="price-book"><%=bestSeller[i].price%> $</div>
                            <div class="hidden-action action-hover ">
                                <i class="fa-solid fa-cart-shopping action-add-to-cart"></i>
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <form action="/books/detail/<%=bestSeller[i]._id%>" class="get-detail" method="GET"></form>
                            <input type="text" hidden value="{
                                &quot;_id&quot;     : &quot;<%=bestSeller[i]._id%>&quot;,
                                &quot;title&quot;   : &quot;<%=bestSeller[i].title%>&quot;,
                                &quot;image&quot;   : &quot;<%=bestSeller[i].image%>&quot;,
                                &quot;price&quot;   : &quot;<%=books[i].price%>&quot;}">
                        </div>
                    <% } %>
                </div>
                <a href="/books" class="view-more">View more</a>
                <br>
                <hr>
            </div>
        </div>

        
        <%- include('partials/footer.ejs')%>
</body>

<script src="https://kit.fontawesome.com/9bcb66184c.js" crossorigin="anonymous"></script>
<script type="module" src="/scripts/homePage.js"></script>
</html>