<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/homePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Book Store</title>
</head>
<body>
        <div class="header">
            <div class="logo-page">
                <a href="/">
                    <img src="/images/logo.webp" alt="logo" width="50px" style="border-radius: 10px;">
                <div class="name-page">Book Store</div>
                </a>
            </div>
            <div class="nav-bar">
                <ul class="nav-menu">
                    <li class="active"><a href="/" class="">Home</a></li>
                    <li><a href="/books" class="">Books</a></li>
                    <li><a href="/about" class="">About</a></li>
                </ul>
            </div>
            <div class="sub-nav">
                <div class="login-text"><a href="/login">Log in</a></div>
                <div class="login">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                </div>
                <div class="cart">
                    <a href="/user/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <span class="count-book-cart">0</span>
                </div>
        </div>
        </div>

        <div class="container">
            <div class="new-release">
                <h1>New release</h1>
                <div class="books">
                    <% for (let i =0; i <4;  i++ ) { %>
                        <div class="book">
                            <div class="test"></div>
                            <div class="img"><img src="<%= books[i].image%>" alt="" ></div>
                            <div class="title-book"><%=books[i].title%></div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="price-book">100$</div>
                            <div class="hidden-action action-hover ">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <form action="/books/detail/<%=books[i]._id%>" class="get-detail" method="GET"></form>
                        </div>
                    <% } %>
                </div>
                <a href="#" class="view-more">View more</a>
                <br>
                <hr>
            </div>
            <div class="best-seller">
                <h1>Best seller</h1>
                <div class="books">
                    <% for (let i =0; i <4;  i++ ) { %>
                        <div class="book">
                            <div class="test"></div>
                            <div class="img"><img src="<%= books[i].image%>" alt="" ></div>
                            <div class="title-book"><%=books[i].title%></div>
                            <div class="rating">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <div class="price-book">100$</div>
                            <div class="hidden-action action-hover ">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <i class="fa-solid fa-eye"></i>
                            </div>
                            <form action="/books/detail/<%=books[i]._id%>" class="get-detail" method="GET"></form>
                        </div>
                    <% } %>
                </div>
                <a href="#" class="view-more">View more</a>
                <br>
                <hr>
            </div>
        </div>
        <div class="footer">
                
        </div>
</body>

<script src="https://kit.fontawesome.com/9bcb66184c.js" crossorigin="anonymous"></script>
<script src="/scripts/homePage.js"></script>
</html>